<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :movie_id, input_html: { value: @movie.id }, as: :hidden %>
    <%= f.input :comment %>
    <%= f.select :notation, Comment::NOTES, {}, { class: 'select required form-control' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
