<p id="notice"><%= notice %></p>

<p>
  <strong>Id user:</strong>
  <%= @comment.id_user %>
</p>

<p>
  <strong>Id movie:</strong>
  <%= @comment.id_movie %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @comment.date %>
</p>

<p>
  <strong>Notation:</strong>
  <%= @comment.notation %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
