<p>
  <strong>Titre:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Pochette:</strong>
  <%= @movie.cover %>
</p>

<p>
  <strong>Durée:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Résumé:</strong>
  <%= @movie.summary %>
</p>

<p>
  <strong>Note de l'équipe:</strong>
  <%= @movie.staff_notation %>
</p>

<%= link_to 'Modifier', edit_movie_path(@movie) %> |
<%= link_to 'Retour', movies_path %>
