<h1>Modification</h1>

<%= render 'form' %>

<%= link_to 'Show', ['admin', @movie], { class: 'btn btn-success' } %>
<%= link_to 'Back', admin_movies_path, { class: 'btn btn-success' }  %>

<hr>
<h2>Ajouter des participants</h2>

<%= simple_form_for ['admin', @movie_character] do |f| %>
  <%= f.input :movie_id, input_html: { value: @movie.id }, as: :hidden %>
  <%= f.association :character, label_method: :full_name, value_method: :id, label: 'Personne' %>
  <%= f.select :role, MovieCharacter::ROLES.map { |key, value| [value, key] }, {}, { class: 'select required form-control' } %>
  <br>
  <%= f.button :submit %>
<% end %>

