<p>
  <strong>Titre:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Pochette:</strong>
  <%= image_tag @movie.cover.url('thumb') %>
</p>

<p>
  <strong>Durée:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Résumé:</strong>
  <%= @movie.summary %>
</p>

<p>
  <strong>Note de l'équipe:</strong>
  <%= @movie.staff_notation %>
</p>

<%= link_to 'Modifier', edit_admin_movie_path(@movie), { class: 'btn btn-success' } %>
<%= link_to 'Retour', admin_movies_path, { class: 'btn btn-success' } %>

<h2>Participants</h2>

<% @movie_characters.each do |movie_character| %>
  <% if movie_character.character %>
    <%= movie_character.character.last_name %> <%= movie_character.character.first_name %> - 
    <%= MovieCharacter::ROLES[movie_character.role] %> 
    <%= link_to 'Supprimer', admin_movie_character_path(movie_character), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <br>
  <% end %>
<% end %>

