<p>
  <strong>Nom: </strong>
  <%= @character.first_name %><br>

  <strong>Prénom: </strong>
  <%= @character.last_name %><br>

  <strong>Age: </strong>
  <%= @character.age %><br>

  <strong>Image: </strong>
  <%= image_tag @character.picture.url %><br>

  <strong>Biographie: </strong>
  <%= @character.biography %>
</p>

<%= link_to 'Edit', edit_admin_character_path(@character), class: 'btn btn-success' %>
<%= link_to 'Back', admin_characters_path, class: 'btn btn-success' %>
