<h1>Liste des cinémas</h1>

<table class="table table-striped">
  <thead>
    <tr class="info">
      <th>Nom du cinéma</th>
      <th>Ville</th>
      <th>Adresse</th>
      <th>Code postale</th>
      <th><span class="glyphicon glyphicon-eye-open"></th>
      <th><span class="glyphicon glyphicon-edit"></th>
      <th><span class="glyphicon glyphicon-trash"></th>
    </tr>
  </thead>

  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td><%= cinema.name %></td>
        <td><%= cinema.city %></td>
        <td><%= cinema.address %></td>
        <td><%= cinema.zip_code %></td>
        <td><%= link_to 'Voir', admin_cinema_path(cinema) %></td>
        <td><%= link_to 'Modifier', edit_admin_cinema_path(cinema) %></td>
        <td><%= link_to 'Supprimer', admin_cinema_path(cinema), method: :delete, data: { confirm: 'Êtes vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter une nouvelle salle', new_admin_cinema_path, { class: 'btn btn-success' } %>
