<h1><%= t('views.all_cinemas') %></h1>

<table class="table table-striped">
  <thead>
    <tr class="info">
      <th><%= t('views.name') %></th>
      <th><%= t('views.city') %></th>
      <th><%= t('views.address') %></th>
      <th><%= t('views.zipcode') %></th>
      <th><span class="glyphicon glyphicon-eye-open"></th>
    </tr>
  </thead>

  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td><%= cinema.name %></td>
        <td><%= cinema.city %></td>
        <td><%= cinema.address %></td>
        <td><%= cinema.zip_code %></td>
        <td><%= link_to 'Voir', cinema %></td>
      </tr>
    <% end %>
  </tbody>
</table>