<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @cinema.name %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @cinema.city %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @cinema.address %>
</p>

<p>
  <strong>Code postale:</strong>
  <%= @cinema.zip_code %>
</p>

<%= link_to 'Modifier', edit_cinema_path(@cinema), class: 'btn btn-success' %>
<%= link_to 'Retour à la liste', cinemas_path, class: 'btn btn-success' %>
